<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemples Widgets</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <!-- Pour afficher en tant que texte la valeur d'une variable, 
            on utilise les strings interpolés -->

        {{ message }}

        <!-- Pour lier une variable avec un attribut de balise HTML, on utilise la directive v-bind, 
            dont la version raccourcie est simplement ':' -->

            <br>

        <!-- <img v-bind:src="imageURL" alt="" height="200"> -->
        <img :src="imageURL" alt="Image de gâteau" height="200">

            <br>

        <!-- On peut aussi, via les strings interpolés, choisir d'afficher directement le retour d'une méthode -->
        <b>Nombre aléatoire : </b> {{ nombre }}

        <br>
        
        <!-- On peut, sur des évènement, ajouter des modificateurs, par exemple ne déclencher une méthode 
            que si la touche ENTREE est levée -->
        <input @keyup.enter="logKey($event)" @input="inputLog()" type="text">
        
        <br>
        
            Prenom en OW Databinding : <input type="text"@input="editPrenom($event)">

        <br>
        <!-- Pour réaliser du Two-Way Databinding, Vue nous propose l'utilisation de v-model. 
            Via cette directive, on a notre valeur d'input modifiée automatiquement depuis le JS, et en contrepartie, 
            toute modification dans l'HTML va aussi modifier la valeur de la variable dans notre JS  -->

            
            
            <!-- <input type="text" :value="prenom" @input="editPrenom($event)"> -->
        Prenom en TW Databindging : <input type="text" v-model="prenom">
        <br>
            Nom en TW Databinding : <input type="text" v-model="nom">
            <br>

            {{ nomComplet }}

            <br>

        <!-- Si l'on veut, on peut déclencher les méthodes de notre JS depuis l'HTML 
            via l'utilisation de la directive v-on, dont on peut simplifier l'écriture avec '@'  -->
        <!-- <button v-on:click="getRandNumber()">Nombre Aleatoire</button> -->
        <button @click="getRandNumber()">Nombre Aleatoire</button>

        <br>

            <!-- <input type="text" :value="prenom" @input="editPrenom($event)"> -->

    </div>

    <script>
        const { createApp } = Vue

        createApp({
            // L'objet de création d'application peut contenir des variables dans son objet de retour de data()
            data() {
                return {
                    message: 'Hello world !',
                    nombre: 0,
                    prenom: "",
                    nom : "",
                    imageURL: 'https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe/public/r94-gateau-cremeux-chocolat-entremets_ss.jpg?auto=compress%2Cformat&crop=faces%2Cedges&cs=srgb&fit=crop&h=500&w=393'
                }
            },

            // L'objet de création d'application peut aussi contenir des fonctionnalités dans sa propriété methods, 
            // qui possède comme valeur un nouvel objet contenant les méthodes
            methods: {
                getRandNumber() {
                    // Au sein d'une méthode, on peut modifier nos variables contenues dans data() 
                    // via l'utilisation du mot-clé this

                    this.message = "J'ai eu un nombre aléatoire !"
                    this.prenom = "Albert"
                    
                    this.nombre = Math.round(Math.random() * 6)
                },
                logKey(e) {
                    console.log(e.target.value)
                },
                inputLog() {
                    console.log('Input !')
                },
                editPrenom(e) {
                    this.prenom = e.target.value
                }
            },
            computed: {
                // Computed sert à créer des 'variables' qui dépendent d'autre variables (contenues par exemple dans notre section data())
                // Elles seront utilisées dans notre HTML simplement en utilisant leur nom, et non en appellant la méthode que l'on va créer 
                // Pour fonctionner, une méthode computed doit retourner une valeur

                // Il faut, pour créer une propriété computed, que la variable de base n'existe pas
                nomComplet() {
                    return this.prenom + " " + this.nom
                }
            },
            watch: {
                // Enfin, il est possible d'utiliser ce qui s'appelle des watchers
                // Les watchers doivent avoir le nom d'une propriété existante dans notre retour de data
                // De la sorte, à chaque modification de la valeur de cette variable, le watcher va être executé
                // Il permet, si on le souhaite, de récupérer en premier paramètre la nouvelle valeur, et en second paramètre l'ancienne
                prenom(value, oldValue) {
                    console.log("Nouvelle valeur : " + value)
                    console.log("Ancienne valeur : " + oldValue)
                    console.log('Prenom est modifié !')
                }
            }
        }).mount('#app')
    </script>

</body>

</html>